#video{
         width: 100%;
         height: 500px;
         border: none;
}

.travel_mainDiv{
         border: 1px solid lightgray
}

.travel.mainDiv img
{
         width: 100%;
}

.travel.mainDiv h5 , .travel.mainDiv p{
         margin:20px;
}